*{
    font-family: Nunito, sans-serif;
}



button {
cursor: pointer;
}
button:active {
    transform: scale(0.97);
}
.colors--button:active {
    transform: scale(0.80);
}
body{
    background-color: floralwhite;
    display: flex;
}
#title--main{
    min-width:200px;
}
#main--page{
    margin-left: 10px;
    flex-grow: 1;
    height: 98vh;
    overflow: auto;
}
#main--page::-webkit-scrollbar {
    border-radius: 25px;
    width: 10px;
    height: 10px;
    border: 2px solid black; /* or add it to the track */
}
#main--page::-webkit-scrollbar-thumb    {
    background: #000;
}
#filter--options{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}
#filtered--content{
    display: none;
    margin-top: 30px;
    margin-left: 10px;
    min-height: 100px;
    width: 300px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.colors--wrapper{
    display: flex;
    flex: 2;
    flex-direction: column;
    /* background-color: red; */
}
#form--container    {
    flex:1;
    margin-top: 25px;
    margin-left: 30px;
    justify-self:flex-end;
}
button, input[type="submit"], input[type="text"] {
    background-color: white;
    border: 1px solid #525252;
    border-radius: 3px;
}

.colors--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    row-gap: 5px;
    width: 400px;
    height: 200px;
    /* background-color: grey;   */
}
.colors--button {
    /* appearance: none;    */
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 10px;
    border: 1.2px solid #696969 !important;
}
.colors--container input[type="radio"]   {
    display: none;
}
.colors--container input[type="radio"]:checked + label    {
   border: 1.2px solid #000000 !important;
   box-shadow: 0px 0px 5px #696969;
}
#creative--drawer   {
    padding: 10px;
    border-left: 2px solid #525252;
    width: 35vw;
    height: 98vh;
    display: none;
    flex-direction: column;
}
#creative--drawer  h3 {
    flex: 0.5;
}


#add--creative {
     color:#480607;
     background: linear-gradient(to right, #adff2f 0%,#fceeb5 50%,#ee786e 100%);
     background-size: 500%;
     border: none;
     border-radius: 5rem;
     box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
     cursor: pointer;
     height: 2.5rem;
     letter-spacing: .05em;
     outline: none;
     user-select: none;
     width: 9rem;
     margin-left:10px;
     animation-name:gradient;
     animation-duration:2.5s;
     animation-iteration-count:infinite;
     animation-fill-mode:forwards;
}

@keyframes gradient{
  0% {background-position: right;}
  100%  {background-position: left;}
 }

.previews   {
    margin-top: 30px;
    margin-left: 10px;
    height: 100px;
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.previews h2 {
    margin: 0px;
}
.previews h3 {
    margin: 0px;
}
#preview--container{
    display: flex;
    flex-direction: column;
}
#outline--wrapper{
    align-items: center;
    display: flex;
}
#heading--progress{
    margin-left: 20px;
}
#outline--progress  {
    border-radius: 25px;
    margin-left: 10px;
    width: 45%;
    height: 20px;
    border: 1px solid black;
}
#fill--progress{
    border-radius: 25px;
    background-color: black;
    height: 20px;
    width: 0%;
}
#head--close{
    display: flex;
    justify-content: space-between;
}
#head--close > button {
    border: 0.5px solid black;
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 25px;
}
#close--button:hover   {
    background-color: red;
}
#form--drawer{
    margin: 10px;
    flex: 5;
    justify-self: start;
}
#form--drawer input {
    margin: 10px 0px;

    height: 15px;
    width: 85%;
}
#done--drawer   {
    flex: 0.1;
    margin-bottom: 50px;
    width: 75px;
    height: 25px;
}
