*{
    font-family: Nunito, sans-serif;
}
body{
    background-color: floralwhite;
    display: flex;
}
#main--page{
    margin-left: 10px;
    flex-grow: 1;
    height: 98vh;
    overflow: auto;
}
#main--page::-webkit-scrollbar {
    border-radius: 25px;
    width: 10px;
    height: 10px;
    border: 2px solid black; /* or add it to the track */
}
#main--page::-webkit-scrollbar-thumb    {
    background: #000;
}
#filter--options{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}
#filtered--content{
    display: none;
}

.colors--wrapper{
    display: flex;
    flex: 2;
    flex-direction: column;
    /* background-color: red; */
}
#form--container    {
    flex:1;
    margin-top: 25px;
    margin-left: 30px;
    justify-self:flex-end;
}
button, input[type="submit"], input[type="text"] {
    background-color: white;
    border: 1px solid #525252;
    border-radius: 3px;
}

.colors--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    row-gap: 5px;
    width: 400px;
    height: 200px;
    /* background-color: grey;   */
}
.colors--button {
    /* appearance: none;    */
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 10px;
}
.colors--container input[type="radio"]   {
    display: none;
}
.colors--container input[type="radio"]:checked + label    {
    border: 1px solid red !important;
}
#creative--drawer   {
    padding-left: 10px;
    border-left: 2px solid #525252;
    width: 35vw;
    height: 98vh;
    display: none;
}
#add--creative {
    margin-left: 10px;
}
.previews   {
    margin-top: 50px;
    margin-left: 10px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}
#preview--container{
    display: flex;
    flex-direction: column;
}
#outline--wrapper{
    align-items: center;
    display: flex;
}
#heading--progress{
    margin-left: 20px;
}
#outline--progress  {
    border-radius: 25px;
    margin-left: 10px;
    width: 45%;
    height: 20px;
    border: 1px solid black;
}
#fill--progress{
    border-radius: 25px;
    background-color: black;
    height: 20px;
    width: 0%;
}
